server {
	server_name $hostname vagrant-dev-{{ project_name }} 127.0.0.1;

	access_log off;

	# port_in_redirect off;

	location /static/ {
		alias /vagrant/static/;
	}

	location / {

		proxy_redirect http://$host/ http://$host:8080/;
		proxy_pass http://127.0.0.1:8001;
		proxy_set_header X-Forwarded-Host $server_name;
		proxy_set_header X-Real-IP $remote_addr;
		# proxy_set_header Host $host:$server_port;
		proxy_set_header Host $http_host;
		proxy_redirect off;
		add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
	}
}